# Solana RPC endpoint
RPC_URL=http://localhost:8899

# DekantPM program ID
PROGRAM_ID=Fa2ookSb6meqem6F1oZcVv1PAxQzNtr7zkf1XiDBFgAf

# Path to the signer keypair (default: Solana CLI default)
KEYPAIR_PATH=~/.config/solana/id.json
